@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #059669 0%, #2d3436 100%);
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: white;
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 1rem;
}
h1 {
  text-align: center;
  font-weight: 500;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
button {
  padding: 1rem;
  background-color: #2d3436;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
button:active {
  transform: translateY(0px);
}
